name: Get Trojan Pass

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "20 15 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@master

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install requirements.txt
        run: pip install -r requirements.txt && echo $TROJAN_PASS_NETID

      - name: Set up Firefox
        uses: browser-actions/setup-firefox@latest

      - name: Set up geckodriver
        uses: browser-actions/setup-geckodriver@latest

      - name: Get the Pass
        env:
          TROJAN_PASS_GMAIL_ACCOUNT: ${{ secrets.TROJAN_PASS_GMAIL_ACCOUNT }}
          TROJAN_PASS_GMAIL_PASSWORD: ${{ secrets.TROJAN_PASS_GMAIL_PASSWORD }}
          TROJAN_PASS_NETID: ${{ secrets.TROJAN_PASS_NETID }}
          TROJAN_PASS_PASSWORD: ${{ secrets.TROJAN_PASS_PASSWORD }}
        run: python3 main.py
